[Unit]
Description=Databse Backup
Documentation=https://github.com/jbaikge/database-backups

[Service]
Type=oneshot
EnvironmentFile=/etc/database-backups.conf
ExecStart=/usr/local/bin/database-backup \
    -db ${CONFIG_DATABASE} \
    -dir ${BACKUP_DIR} \
    -bucket ${AWS_BUCKET}
